/* General style */
body{
    font-family: 'Inter', sans-serif;
    background-image: url("img2 (2).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    margin: 0;
    padding: 0;
}
header{
<<<<<<< HEAD
    display: flex;
=======
    display: block;
>>>>>>> 52db2d5801553be6b788a3c1d13ef843ae029ed6
    padding: 20px;
    color: white;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;

}
#menu{
    display: none;
}
.menu-icon{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}
.menu-icon img{
    width: 50px;
    height: auto;
}
nav{
<<<<<<< HEAD
=======
    display: none;
>>>>>>> 52db2d5801553be6b788a3c1d13ef843ae029ed6
    justify-content: space-around;
    flex-wrap: wrap;
}
nav ul{
    white-space: nowrap;
    max-width: 1000px;
    padding: 10px;
    margin: 0;
    text-align: center;
    position: relative;
    
}
nav li{
    width: 18%;
    display: inline-block;
    font-size: 20px;
}
nav a{
    font-size: inherit;
    padding: 10px;
    color: black;
    text-decoration: none;
}
nav a:hover{
    background-color: black;
    color: white;
}
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
    margin-left: 20px;
}
.banner h1{
    margin-top: 0;
    font-size: 70px;
    text-align: center;
}
.banner p{
    font-size: 24px;
    line-height: 40px;
    font-weight: 100;
    text-align: center;
    margin-top: 0;
}
.banner a{
    font-size: 20px;
    text-align: center;
}
.banner img{
    max-width: 100%;
    width: 1800px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    align-items: center;
    margin: 20px auto;
}
.main h1{
    margin-bottom: 20px;
}
img{
    max-width: 100%;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
.Feature{
    position: relative;
    top: 970px;
    max-width: 1800px;
    margin: 20px;
    margin-bottom: 60px;
    z-index: 0;
}
.Feature img{
    max-width: 300px;
    border: 4px solid #ddd;
    border-radius: 8px;
}
.intro h2{
    text-align: center;
    font-size: 30px;
    position: relative;
    line-height: 40px ;
    padding: 15px;
    margin: 4px;
    color: black;
    text-decoration: underline;
}
.featured{
    align-items: center;
}
.featured-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.featured-items p{
    font-size: 24px;
}
.featured-items h3{
    font-weight: bold;
    font-size: 30px;
}
.featured-items img{
    max-width: 100%;
}
.cta-button{
    display: inline-block;
    padding: 12px 24px;
    background-color:black;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: 1s;
}
.cta-button:hover{
    background-color: rgb(202, 190, 190);
    color: black;
}
.pricing{
    position: relative;
    top: 960px;
    border-top: 1px solid rgb(102, 89, 89);
}
.pricing-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.pricing h2{
    text-align: center;
    font-size: 32px;
    position: relative;
    line-height: 40px ;
    padding-top: 15px;
    margin: 4px;
    color: black;
    text-decoration: underline;
}
.pricing h3{
    font-size: 30px;
}
.pricing p{
    font-size: 25px;
}
.plan strong{
    font-size: 50px;
}
footer{
    position: relative;
    top: 1000px;
    font-size: 18px;
}
@media screen and (max-width: 1475px){
 .Feature{
    top: 200px;
 }
 .pricing{
    top: 200px;
 }
} 
@media screen and (max-width: 1200px){
.Feature{
    top: 30px;
}
.pricing{
    top: 40px;
}
}  

@media screen and (max-width: 768px){
header{
    flex-direction: column;
    align-items: center;
}
nav{
    margin-top: 20px;
}
nav ul{
    flex-direction: column;
    align-items: center;
}
nav li{
    margin: 10px 0;
}
nav a{
    font-size: 16px;
}
.Feature{
    top: 10px;
}
.pricing{
    top: 20px;
}
}